<%- include("partials/header") %>
<!-- Event snippet for Website traffic conversion page --> <script> gtag('event', 'conversion', {'send_to': 'AW-482084725/rk9OCP30ytwDEPWO8OUB'}); </script>
</head>

<body>
<div id="submit">
    <h1>Thank you</h1>
    <p>Thank you for your enquiry. You will be contacted shortly.</p>
    <p><a href="/">Go Back</a></p>
    <%- include("partials/footer") %>
</div>
